
.DS_Store
web/pdf/vilhuber-biblio-latest.aux
web/pdf/vilhuber-biblio-latest.bbl
web/pdf/vilhuber-biblio-latest.bcf
web/pdf/vilhuber-biblio-latest.blg
web/pdf/vilhuber-biblio-latest.log
web/pdf/vilhuber-biblio-latest.out
web/pdf/vilhuber-biblio-latest.run.xml
web/pdf/vilhuber-biblio-latest.toc
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.xml
*.gz
