
sudo: required

services:
  - docker                  

# safelist
branches:
  only:
  - master
  
  
before_install:            
  - docker pull adnrv/texlive:custom
  - chmod +x bin/*sh

script:
  - echo $TRAVIS_BUILD_DIR
  - ls $TRAVIS_BUILD_DIR/bin/
  - docker run  -v $TRAVIS_BUILD_DIR:/documents/  --name latex adnrv/texlive:custom  /documents/bin/build.sh

after_error: 
  - docker logs latex

after_failure:
  - docker logs latex

after_success:
#script:
- echo "${SFTP_KEY}" | base64 --decode >/tmp/sftp_rsa
- chmod 0600 /tmp/sftp_rsa
- git checkout -b commitme
- git status
- git commit -m 'Updated files by bot' -a
- git push  "https://${GH_TOKEN}@github.com/${TRAVIS_REPO_SLUG}" commitme:master
- bin/sync-up.sh



deploy:
  - provider: pages
    skip-cleanup: true
    github-token: $GH_TOKEN  # Set in the settings page of your repository, as a secure variable
    keep-history: true
    target-branch: test
    verbose: true
    on:
      branch: deploy
